In [ ]:
a=0
password = 123
while a<3 :
  try:
    number= int(input("pls enter ATm pin : "))
    if number == password :
      print ("Amount debited")
      else:
        print("No debit")
        a=a+1
        except:
          print

In [ ]:
#lambda functions are used for small, one-time tasks, or when a function is not too complex
a = lambda a: a

In [ ]:
def sqr(a):
  print(a**2)

In [ ]:
sqr(8)

64

In [ ]:
mylist= [1 , 3 , 4 , 5 , 6 ,8 , 10]

In [ ]:
#Map in Python is a function that works as an iterator to return a result after applying a function to every item of an iterable (tuple, lists, etc.).
#It is used when you want to apply a single transformation function to all the iterable elements.
tuple(map(sqr , mylist))

1
9
16
25
36

(None, None, None, None, None)

In [ ]:
def check_even(a):
  if a%2==0:
    print(a)

In [ ]:
check_even(10)

10

In [ ]:
#filter even number
list (filter(check_even, mylist))

4
6
8
10

[]

In [ ]:
#greater number
def greater_5(a):
  if a>5 :
    print (a)

In [ ]:
list(filter(greater_5,mylist))

6
8
10

[]

In [ ]:
def test():
  pass

In [ ]:
patterns= ['term1','term2','kiki','term4']

In [ ]:
for x in patterns:
  print('searching for  , ',x)
  if re.search(x, text):
    print('match was found')
    else:
      print('')

NameError: name 'text' is not defined